{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>News Aggregator</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <script src="{% static 'js/main.js' %}"></script> //This line includes the JavaScript file in your web app.
    <header>
        <h1>News Aggregator</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                <li><a href="{% url 'sources' %}">Sources</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 News Aggregator</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
